@font-face {
    font-family: 'Torus';
    font-weight: 300;
    src: url('../assets/fonts/Torus-Thin.otf');
}
@font-face {
    font-family: 'Torus';
    font-weight: 400;
    src: url('../assets/fonts/Torus-Regular.otf');
}
@font-face {
    font-family: 'Torus';
    font-weight: 600;
    src: url('../assets/fonts/Torus-SemiBold.otf');
}
@font-face {
    font-family: 'Torus';
    font-weight: 800;
    src: url('../assets/fonts/Torus-Bold.otf');
}
@font-face {
    font-family: 'Torus';
    font-weight: 900;
    src: url('../assets/fonts/Torus-Heavy.otf');
}
h1 {
    text-align: center;
    color:black;
    font-family: 'Torus';
    font-weight: 800;;
}
body {
    text-align: center;
    font-family: 'Torus';
    font-weight: 400
}

.center {
    margin: auto;
    width: 300;
}